.audiorecorder-ui { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#recorder-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#recorder-graphing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

